
.project-img-container {
	height: 240px;
	overflow: hidden;
}

.project-img {
	min-width: 100%;
	min-height: 100%;
}

.desc-tab {
	background-color: mediumpurple;
	color: white;
	position: relative;
	bottom: -250px;
	height: 280px;
	z-index: 1
}

.project-container {
	height: 280px;
	overflow: hidden;
}

.project-bottom {
	bottom: 0;
	padding: 1em;
	position: absolute;
}

.project-icon {
	margin-left: 2px;
	margin-right: 2px;
}
