body {
	background-color: gray;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.wrapper {
	display: flex;
	background-color: lightgray;
}

.section-container {
	padding: 2em;
	padding-bottom: 3em;
}

.section-title {
	background-color: mediumpurple;
	color: white;
	padding: 30px 40px;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.section-wrapper {
	background-color: lightgray;
}

.cover-picture {
	background-image: url("/images/cover.png");
	background-size: cover;
	height: 100vh;
}

.cover-text {
	background-color: black;
	color: white;
	display: inline-block;
	font-size: 38px;
	margin: 100px 60px;
	text-align: center;
	width: auto;
}

.card {
	border: solid 1px black;

	min-height: 180px;

	-moz-box-shadow: 8px 8px 10px #666;
	-webkit-box-shadow: 8px 8px 10px #666;
	box-shadow: 8px 8px 10px #666;
	border-radius: 0
}

.btn-circle {
	width: 50px;
	height: 50px;
	padding: 15px 0px;
	border-radius: 25px;
	text-align: center;
	font-size: 12px;
	line-height: 1.35;
}

#content {
	width: calc(100% - 100px);
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}

@media (max-width: 767px) {
	#content {
		width: 100%;
	}
	#content.active {
		width: calc(100% - 100px);
	}
}

@media (max-width: 1240px) {
	.container {
		max-width: 1240px;
	}
}


html {
	scroll-behavior: smooth
}
